NEXT_PUBLIC_CHAIN_ID = "56"
NEXT_PUBLIC_GTAG = "GTM-TLF66T4"

NEXT_PUBLIC_NODE_1 = "https://bsc-dataseed1.binance.org"
NEXT_PUBLIC_NODE_2 = "https://bsc-dataseed1.ninicoin.io"
NEXT_PUBLIC_NODE_3 = "https://bsc-dataseed2.ninicoin.io"

# Google Cloud Infrastructure Endpoint - Global
NEXT_PUBLIC_NODE_PRODUCTION = "https://bsc-dataseed1.binance.org"

NEXT_PUBLIC_GRAPH_API_PROFILE = "https://api.thegraph.com/subgraphs/name/pancakeswap/profile"
NEXT_PUBLIC_GRAPH_API_PREDICTION = "https://api.thegraph.com/subgraphs/name/pancakeswap/prediction-v2"
NEXT_PUBLIC_GRAPH_API_LOTTERY = "https://api.thegraph.com/subgraphs/name/pancakeswap/lottery"
NEXT_PUBLIC_GRAPH_API_NFT_MARKET = "https://api.thegraph.com/subgraphs/name/pancakeswap/nft-market"

NEXT_PUBLIC_SNAPSHOT_BASE_URL = "https://hub.snapshot.org"

NEXT_PUBLIC_API_NFT = "https://nft.pancakeswap.com/api/v1"
NEXT_PUBLIC_BIT_QUERY_ENDPOINT = "https://graphql.bitquery.io"

NEXT_PUBLIC_RECAPTCHA_SITE_KEY ="6Lemq84gAAAAAC__Yxzr_MRRHAJaP8VdYK5IV1ed"
NEXT_PUBLIC_BASE_URL = 'https://dex-api.savvycom.ai'

NEXT_PUBLIC_ROUTER_ADDRESS = 0x10ED43C718714eb63d5aA57B78B54704E256024E
NEXT_PUBLIC_FARMING_CONTRACT = 0xf530332ca83877e6c7748994b1f936d2bb5caf22
NEXT_PUBLIC_SVC_ADDRESS = 0x857b64d4A0ce517631210eaf9d512BC04485b439
NEXT_PUBLIC_BUSD_ADDRESS = 0x55d398326f99059fF775485246999027B3197955
NEXT_PUBLIC_LP_SVC_BUSD = 0x564C03d7AC6687D53B2053b69696Cb761A2c046e
NEXT_PUBLIC_LP_WBNB_BUSD = 0x16b9a82891338f9bA80E2D6970FddA79D1eb0daE

NEXT_PUBLIC_END_POINT_API = "https://dex-api.savvycom.ai/api"

